/* responsive.css */
@media screen and (min-width:600px){
    /* 1행 글자크기, 여백 등 */

    /* 3행 프로젝트 이미지 w100% */
    #wrap .project_wrap .project .title_thum .mockup img {
        height:auto;/* 100% 덮어쓰기값으로 auto변경 */
        width:100%;
    }
    /* 4행 그래픽 이미지 확대 */
    #wrap .project_wrap .graphic_wrap .graphic_container a {
        width:246px; height:400px;
    }
}/* 사용자가 보는 기기 너비가 600보다 크면 */
@media screen and (min-width:840px){
    /* 2행 info -> 1행 2열 레이아웃 구조 변경 */
    #wrap > .info {
        height:auto; padding:100px 0;
        flex-flow:row nowrap; 
        justify-content: center; align-items: flex-start;
    }
    #wrap .info .details {display:block;}
    #wrap .info .details dl {margin-bottom:40px;}
    #wrap .info .details dl dt {font-weight:600;}
    #wrap .info .details dl dd {line-height:1.7;}
    /* 3행 web -> 1행 2열 레이아웃 구조 변경 */
    #wrap .project_wrap .project {
        width:100%; 
        display:flex; flex-flow:row nowrap; 
        gap:20px; align-items:flex-end;
    }
    #wrap .project_wrap .project .details .link {margin:50px 0 0;}
    /* 4행 그래픽 이미지 확대 */
}/* 사용자가 보는 기기 너비가 840보다 크면 */